{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>THE STORY OF THE ETHA FROM THE MITH OF THOR</h1>
    <p>
        Long before the birth of light there was darkness and from that darkness came the dark elves
        millenia ago the most ruthless of our king malakith sought to transform our univerese back into
        of eternal night, such evil was possible by the power of the etha, an emineth force of distraction
        that changes matter into dark matter. noble armies of asquard led by my father king bore breached
        the mighty war against these creatures. At last as the none realms converge, malakith could at last
        unleash the etha. but asquard ripped the weapon from his grasp and malakith sacrificed his own men in
        a despereate attempt to lay waste to asquards armmies
    </p>
</div>
{% endblock %}